/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body{
      background: rgba(203, 203, 210, 0.15);
}

/* Toggle Styles */

#wrapper {
    color: #000;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#sidebar-wrapper {
    position: absolute;
    width: 260px;
    height: 100%;
    overflow: hidden;
    background:url("../img/bk-eco-ga2.jpg");
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper #sidebar-wrapper {
        position: fixed;
    width: 260px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}


.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
   
}

.sidebar-nav li a {
    display: block;
   
    color: #fff;
 font-family: 'Lato', Arial;
  text-decoration: none;
  font-size: 16px;
  padding: 4px;

  font-weight: bold;
    
}
.sidebar-nav ul li ul li a {
    display: block;
   
    color: #fff;
 font-family: 'Lato', Arial;
  text-decoration: none !important;
  font-size: 16px;
  padding: 4px;

  font-weight: bold;
    
}


.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
     border: 1px solid rgba(255, 255, 255, 0.2); 
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}



.sidebar-nav > .logo a {
    color: #999999;
}

.sidebar-nav > .logo a:hover {
    color: #fff;
    background: none;
    border: none;
}

.navs{
    background: #fff;
    border-radius: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}
.logo {
    padding: 15px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
} 

.painel{
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
    height: 100%;

}
