
body {
  min-width: 400px;
  font-family: 'Lato', Arial;
  -webkit-font-smoothing: antialiased;
}
a:hover {
  font-family: 'Lato', Arial;
  text-decoration: none;
}
a:active {
  font-family: 'Lato', Arial;
  text-decoration: none;
}
a{
  font-family: 'Lato', Arial;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  color: #666666;
}

h4.media-heading,
header .navbar-default {
  background: none;
  border: none;
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav {
  padding-top: 55px;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: #ffffff;
}

header .navbar-default ul.navbar-nav li a:focus {
  color: #ffffff;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}

header .navbar-default.scrolled {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}
header .navbar-default.scrolled .navbar-brand img {
  width: auto;
  max-height: 33px;
}
header .navbar-default.scrolled ul.navbar-nav {
  padding-top: 15px;
}
.scrollpoint {
  opacity: 0;
}
.scrollpoint.active {
  opacity: 1 \0;
}
.section-heading {
  margin: 40px 0 40px;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-size: 25px;
  color: #999999;
  font-weight: 300;
}
.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 10%;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  -ms-border-radius: 0em;
  -o-border-radius: 0em;
  border-radius: 0em;
}
section .sobre {
  position: relative;
}


section#Entrar {
  min-height: 100%;
  max-height: auto;
  padding-bottom: 30px;
}

section#Entrar .media {
  margin-bottom: 10px;
}

section#Entrar .media .media-heading {
  padding-top: 15px;
  font-weight: 300;
}
section#Entrar .media .media-heading a {
  font-weight: 400;
}

footer {
  padding: 80px 0;
  text-align: center;
}
footer a > img {
  width: 100px;
}
footer .social {
  display: block;
  margin-top: 30px;
}
footer .social a {
  margin: 0 8px;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .social a i {
  width: 1em;
}
footer .rights {
  margin-top: 30px;
}
footer .rights a {
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}
footer .rights a:hover {
  text-decoration: none;
}


.btn {
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  -ms-border-radius: 0em;
  -o-border-radius: 0em;
  border-radius: 0em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;
}
.btn.btn-primary {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
}
.btn.btn-default {
  border: none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-lg {
  float: right;
  padding: 10px 25px;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

form .form-control {

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  -ms-border-radius: 0em;
  -o-border-radius: 0em;
  border-radius: 0em;
  height: 40px;
  line-height: 40px;
  padding: 10px 20px;
  color: black;
  border: 2px solid #cccccc;
  font-weight: 300;
}
form textarea.form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: auto;
  line-height: normal;
}


@media screen and ( max-width: 767px) {
  .logo {
    width: 100%;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 7px 20px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}

header {
  background: #66cc99;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cc99), color-stop(100%, #339999));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cc99, endColorstr=#339999, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  height: 100%;
}
header .navbar-default ul.navbar-nav li a {
  color: #ffffff;
  background: none;
}
header .navbar-default ul.navbar-nav li a.getApp {
  color: #3c79b4;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e0e0e0, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
header .navbar-default ul.navbar-nav li a.getApp:hover {
  color: #4081bf;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
  border-bottom: 3px solid #339999;
}

header .navbar-default.scrolled ul.navbar-nav li a {
  color: #339999;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #339999;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #339999;
}
header .navbar-default.scrolled .navbar-brand {
  background: #339999;
}
section .section-heading .divider:after {
  background: #66cc99;
}

section#Entrar header h1:after {
  background: #66cc99;
}
section#Entrar .media i.fa {
  border: 2px solid #66cc99;
  color: #66cc99;
}
section#Entrar .media a {
  color: #66cc99;
}
section#Entrar .media:hover i.fa {
  color: #ffffff;
  background: #66cc99;
}
section#Entrar .media:hover h3 {
  color: #66cc99;
}
/* footer section */
footer {
  background: #66cc99;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cc99), color-stop(100%, #339999));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #66cc99 0%, #339999 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cc99, endColorstr=#339999, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
footer .social a {
  border: 2px solid #ffffff;
}
footer .social a i {
  color: #ffffff;
}
footer .social a:hover {
  background: #ffffff;
}
footer .social a:hover i {
  color: #66cc99;
}
footer .rights {
  color: #ffffff;
}
footer .rights a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
}
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}
.btn.btn-primary {
  color: #66cc99;
  border-color: #66cc99;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background: #66cc99;
  border-color: #66cc99;
}
.btn.btn-primary.inverse {
  color: #ffffff;
  border-color: #ffffff;
}
.btn.btn-primary.inverse:hover {
  color: #ffffff;
  background: #66cc99;
  border-color: #66cc99;
}
.btn.btn-default {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #339999;
}
.btn.btn-default:hover {
  color: #339999;
}
form .form-control:focus {
  border-color: #66cc99;
  color: #999999;
}
@media screen and (max-width: 767px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;


  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }
  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #66cc99;
  }

  header .navbar-default .navbar-collapse  {
    background: #339999;
    width: 100%;
    height: auto;

    border-top: 0;
  }
  header .navbar-default.scrolled {
    background: #339999;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #ffffff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #66cc99;
  }
}


/*Ajustando*/

.menudois {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0 40px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-bottom: 3px solid #339999;

}
.menudois .navbar-brand {
  padding: 15px 20px;
}
.menudois .navbar-brand img {
  width: auto;
  max-height: 33px;
}
.menudois ul.navbar-nav {
  padding-top: 15px;
}
.menudois ul.navbar-nav li a {
  color: #339999;
  width: 44px;
  padding-left: 100%;
}
.menudois ul.navbar-nav li a:hover {
  background-color: #fff;
}
.menudois  .navbar-brand {
  background: #339999;
  height: 65px;
}

.titulo h1{
  padding-top:30%;
  color: #fff;

}
.dois {
  margin-top: 0px;
  margin-bottom: 35px;

}
.dois h1{
  font-size: 40px;}

  @media screen and (min-width: 760px){
    .padding-col {
      padding-left: 25%;
      padding-top: 30px;
    }
  }
  @media screen and (min-width: 960px){
    .padding-col-2{
      padding-left: 10%;
      }}

      .solicitado {
        display: block;
        width: 100%;
        min-height: 100px;
        margin-bottom: 10px;
        background: white;
        padding-left: -100px;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
        transition:  0.7s;
      }
      .lista{
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        height: 100%;
        

      }
      .lista1 {
        background-color: #fff;
        height: 100%;
        border-bottom:  1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }

     

      .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -15px;
        margin-left: 0px;}

/***********************************

@media screen and (max-width: 640px){
header .navbar-default .navbar-collapse {
background: #339999;
}}
@media screen and (max-width: 640px)
{
header .navbar-default .navbar-collapse {
border-color: transparent;
}}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #e7e7e7;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
margin-right: -15px;
margin-left: -15px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
max-height: 340px;
}

.navbar-collapse.in {
overflow-y: auto;
}

.collapse.in {
display: block;
visibility: visible;
}

.navbar-collapse {
padding-right: 15px;
padding-left: 15px;
overflow-x: visible;
-webkit-overflow-scrolling: touch;
border-top: 1px solid transparent;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
*******/

.inteiro{
  width: 100%;
}

#barra-lateral{
  padding:0px !important;
}

#menu_mobile{
  display: none;
  width: 100px;
  float: left;
}

#botao-menu{
  float: left;
  width: 100px;
  display:none;
}
.escondido{
  display:none;
}

@media screen and (max-width:960px){
  #barra-lateral{
    display: none !important;
  }

  .painel{
    width:100%;
  }

  #botao-menu{
    display: block !important;
    padding: 15px;
    color: grey;
  }


  .menor{
    width: calc(100% - 260px) !important;
    height: 100% !important;
  }

}
.grafico1{
  padding-top: 50px;
  position: relative;
  background-color: : red;
}
.grafico2{
  position: relative;
  background-color: blue;

}
/*@media (min-width: 1200px)
{
.container {
width: auto;
}}*/
@media (min-width: 100px){
  ul li ul li a{
    display: none;
    text-decoration: none!important;
  }
  ul li ul{
    display: none;
    text-decoration: none!important;
  }

  ul li:hover ul{
    display: block;
    text-decoration: none!important;
  }
}


 .botao{
  padding: 3px 7px!important;
    float: right;
    margin-right: 3px;
    font-size: 15px;

}

.edita a{
  border-color: #FFD700 !important;
  color: #FFD700 !important; 
}

.edita{
  border-color: #FFD700 !important;
  color: #FFD700 !important; 
}
.edita:hover{
  background-color: #FFD700 !important;
  color: #fff !important; 
}
.edita:hover a{
  color: #fff !important;
}

.exclui a{
  border-color: #B22222 !important;
  color: #B22222 !important; 
}

.exclui{
  border-color: #B22222 !important;
  color: #B22222 !important; 
}
.exclui:hover{
  background-color: #B22222 !important;
  color: #fff !important; 
}
.exclui:hover a{
  color: #fff !important;
}

.ativa a{
  border-color: #66cc99 !important;
  color: #66cc99 !important; 
}

.ativa{
  border-color: #66cc99 !important;
  color: #66cc99 !important; 
}
.ativa:hover{
  background-color: #66cc99 !important;
  color: #fff !important; 
}
.ativa:hover a{
  color: #fff !important;
}

.text-holder{
  padding: 5px;
}
.nav-tabs.nav-justified>li {
  background-color: #ededed;
  display: table-cell;
  width: 1%;
  border-radius: 4px 4px 0 0;
}

@media (min-width: 300px){
/* da ruim la na frente*/
   .barranav {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  } 
  /*-----*/
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }

  .navbar-nav {
    float: left;
    margin: 0;}

    .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .navbar-right .dropdown-menu {
      right: 0;
      left: auto;
      }}
      
      /*.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover {
        border-left: 0;
}*/
/*@media (min-width: 600px){
.container {
    width: 100%;
}}*/


ul.interno{
    background: rgba(103,255,207,0.37);
  padding-left: 0;
  list-style: none !important;
}
.error{

  color: #B22222;
  float: right;
  padding-bottom: 2px;
}
.cadastro{

}

@media (min-width: 992px){
.logado{
     width: 100% !important;  
}}

.label1{
  float: right;
  font-size: 12.5px;
    color: #666;
    padding-bottom: 0!important;
    padding-top: 2px!important;
    margin-bottom: 0!important;}
    .naomexe{
      width: 100%;
    }
    .erroentra{
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-right: 35px;
    }
@media (min-width: 300px){
.nav-justified>li>a {
    margin-bottom: 0!important; 
  border-bottom: none!important;
  border-radius: 4px 4px 0 0!important;
}}


@media (max-width: 1000px){
  .solicitado{
    min-height: 250px !important;
  }
  .botoes{
    width: 100% !important;
  }
  .cap_campo
  {
    width: 100% !important;
  }
}
.botoes{
  width:50%;
  float: left;
  padding-bottom: 50px;
}

.cap_campo{
  width:50%;
  float: left;
}